@model IEnumerable<Applabs.Marketing.Demo.Models.C_Marketing_List>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Employee_Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Marketer_Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Marketing_Start_Date)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Case_Status)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Marketing_End_Date)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Current_Status)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Employee_Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Marketer_Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Marketing_Start_Date)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Case_Status)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Marketing_End_Date)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Current_Status)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.Marketing_ID }) |
            @Html.ActionLink("Details", "Details", new { id=item.Marketing_ID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.Marketing_ID })
        </td>
    </tr>
}

</table>
